header {
    color:deeppink;
    border: 10px;
    margin:10px;
}

nav { 
    font-size: larger;
}
#container {
    background-image:"./images/pic4.png;"
}
    
.card-grp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    flex-direction: row;
    align-content: flex-end;
}







